
# Ignore node_modules directory
node_modules/

# Ignore build and output directories
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# IDE-specific files
.idea/
.vscode/
*.iml

# TypeScript files
*.tsbuildinfo

# Temp files
*.tmp
*.temp

contents/code